body {
  font-family: $font;
  background-color: map-get($colors, bg);
  color: map-get($colors, text);
}

a {
  color: map-get($colors, primary);
  text-decoration: none;
}

.bg-facebook {
  background-color: map-get($colors-brand, facebook);
}
.bg-twitter {
  background-color: map-get($colors-brand, twitter);
}
.bg-telegram {
  background-color: map-get($colors-brand, telegram);
}
