body {
  font-family: $font;
  background-color: map-get($colors-bg, default);
  color: map-get($colors, text);
}


.bg {
  &_brand {
    background-color: map-get($colors, brand);
  }
  &_facebook {
    background-color: map-get($colors-brands, facebook);
  }
  &_twitter {
    background-color: map-get($colors-brands, twitter);
  }
  &_telegram {
    background-color: map-get($colors-brands, telegram);
  }
}

.pagination {
  display: flex;
  justify-content: center;
  padding-top: 30px;

  /* adapted from: https://codepen.io/RRoberts/pen/jVOWEQ */
  a {
    width: 30px;
    height: 5px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgba(46, 204, 113, 0.4);

    &.active {
      background-color: map-get($colors, brand);
    }
  }
}

a {
  color: map-get($colors, brand);
  text-decoration: none;
}

.btn-link:hover {
  color: map-get($colors, brand);
}
