body {
  font-family: $font;
  background-color: map-get($colors, bg);
  color: map-get($colors, text);
}

a {
  color: map-get($colors, brand);
  text-decoration: none;
}

.bg-brand {
  background-color: map-get($colors, brand);
}
.bg-facebook {
  background-color: map-get($colors-brands, facebook);
}
.bg-twitter {
  background-color: map-get($colors-brands, twitter);
}
.bg-telegram {
  background-color: map-get($colors-brands, telegram);
}
